.news-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.news-section-title {
    color: white;
    font-size: 34px;
    text-align: center;
}

.news-section-twitter {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.twitter-timeline-container {
    height: 100%;
}