.navigation {
    /* flex: 1; */
    height: 90vh;
    width: 4%;
    background-image: linear-gradient(180deg,
        hsl(331deg 28% 50%) 0%,
        hsl(329deg 28% 50%) 8%,
        hsl(327deg 28% 50%) 17%,
        hsl(324deg 28% 50%) 25%,
        hsl(322deg 28% 50%) 33%,
        hsl(319deg 28% 50%) 42%,
        hsl(317deg 28% 50%) 50%,
        hsl(314deg 28% 49%) 58%,
        hsl(310deg 28% 49%) 67%,
        hsl(307deg 28% 49%) 75%,
        hsl(303deg 27% 49%) 83%,
        hsl(299deg 27% 49%) 92%,
        hsl(295deg 28% 50%) 100%);
    position: sticky;
    /* border-right: 5px solid #A25C7E; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.navigation-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}